<div class="container">
    <!-- Display the book list in a table -->
    <h5><i class="fa-solid fa-book fa-lg"></i> Book List</h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genres</th>
                <th>Authors</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.genres}}</td>
                <td>{{this.authors}}</td>
                <td>
                    <a href="/book/edit/{{this.id}}" class="btn btn-primary">Edit</a>
                    <a href="/book/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
</div>